.field {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.field-button {
	width: 150px;
	height: 150px;
	border-radius: 5px;
	background-color: bisque;
	font-size: 28px;
}
