@import 'tailwindcss';

@layer components {
	.button {
		border-radius: 8px;
		border: 1px solid transparent;
		cursor: pointer;
		transition: transform 0.25s;
		margin: auto;
	}
	.button:hover {
		transform: scale(1.05);
	}
	.button:active {
		transform: scale(0.95);
	}
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
